* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pantalla {
  background: rgb(171, 167, 167);
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 100%;
}
.prod {
  text-align: center;
  margin: 15px;
}

.pantalla-dark {
  background-color: grey;
}
